# .gitignore for Unreal Engine 5.5

Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Pacakage/

!Build/Scripts/
Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/Saved/

.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.user
*.ignore
*.code-workspace
.vscode/

.idea/
*.sln.DotSettings.user

*.xcodeproj
*.xcworkspace
.DS_Store

Thumbs.db
Desktop.ini

*.log
*.dmp
*.swp
*.bak